<html ng-app="stockReaderApp">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Stock Reader App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
</head>
<body ng-controller="stockReaderController">
<table>
    <tr>
        <th>Ação</th>
        <th>Data</th>
        <th>Fechamento</th>
        <th>Volume</th>
    </tr>
    <tr ng-repeat="movimento in movimentacao">
        <td>{{movimento.id}}</td>
        <td>{{movimento.date}}</td>
        <td>{{movimento.close}}</td>
        <td>{{movimento.volume}}</td>
    </tr>
</table>
</body>
</html>